body {
    font-family: 'Poppins', 'sans-serif';
}

.navbar {
    background-color: #A2E8E8;
    font-family: 'Poppins', 'sans-serif';
    font-size: 20px;
    font-weight: bold;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 50px;
}

.nav-link {
    color: black !important;
    margin: 0px 20px;
}

.nav-link:hover {
    color: teal !important;
}

footer {
    padding: 50px 50px;
    margin-top: 100px;
    background-color: whitesmoke;
}

.email a{
    text-decoration: none;
}

.linkedin-button {
    background-color: #0077b5;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    line-height: 35px;
    padding: 8px 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.linkedin-button:hover {
    background-color: #1d439b;
    color: white;
}

.section-title {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.about-headshot {
    height: 50vh;
    object-fit: contain;
}

.pork-chop {
    height: 50vh;
    object-fit: contain;
}

.carousel {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner{
    background-color: black;
}
  
.text-container {
    padding: 50px;
}

@media all and (max-width: 530px) {
    /* .about-headshot {
        margin-left: 25%;
    }

    .pork-chop {
        margin-left: 25%;
    } */
}

