body {
    font-family: 'Poppins', 'sans-serif';
}

h3 {
    font-size: 20px;
    font-weight: bolder;
}

.navbar {
    background-color: #A2E8E8;
    font-family: 'Poppins', 'sans-serif';
    font-size: 20px;
    font-weight: bold;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 50px;
}

.nav-link {
    color: black !important;
    margin: 0px 20px;
}

.nav-link:hover {
    color: teal !important;
}

.section-title {
    font-size: 36px;
    font-weight: bolder;
    padding-top: 50px;
    padding-bottom: 20px;
}

footer {
    padding: 50px 50px;
    margin-top: 100px;
    background-color: whitesmoke;
}

.email a{
    text-decoration: none;
}

.linkedin-button {
    background-color: #0077b5;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    line-height: 35px;
    padding: 8px 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.linkedin-button:hover {
    background-color: #1d439b;
    color: white;
}

strong {
    font-weight: bolder;
    font-size: 16px;
}

.square {
    list-style-type: circle;
    margin-left: 2em;
}

.resume-grid {
    display: flex;
}

.sidebar {
    position: fixed;
    width: 200px;
    z-index: 1;
    top: 170px;
    left: 0;
    overflow-x: hidden;
    padding: 20px;
    border-radius: 5px;
    margin: 50px;
}

.sidebar a {
    text-decoration: none;
    color: darkgray;
    display: block;
    padding-bottom: 10px;
}

.sidebar a:hover {
    color: teal;
}

.top-header {
    text-align: center;
}

.resume-section-title {
    margin-left: 300px;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 40px;
}

.resume-box {
    display: flex;
    background-color: white;
    height: auto;
    width: 70%;
    margin-left: 300px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 15px grey;
    border-radius: 10px;
}

.resume-heading {
    margin: 25px 25px;
    width: 60%;
}

.place-time {
    font-size: 16px;
    color: gray;
}

.resume-box-img {
    object-fit: contain;
    width: 100%;
    height: 80px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.resume-desc {
    background-color: whitesmoke;
    position: relative;
    width: 100%;
    height: auto;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

.logo-img {
    width: 40%;
    margin: 10px 90px;
}

.company-desc {
    font-size: 15px;
    color: teal;
}

.download-button {
    background-color: #34eb74;
    color: black;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    line-height: 35px;
    padding: 10px 15px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 14px;
}

.download-button:hover {
    background-color: #4CAF50;
    color: black;
}

@media all and (max-width: 1100px) {
    .resume-section-title {
        margin-left: 15%;
    }

    .resume-box {
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .resume-heading {
        padding-top: 20px;
    }

    .resume-desc {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .sidebar {
        display: none;
    }
}